* {
  padding: 0px;
  vertical-align: top;
  outline: 1px dotted red;
}
body {
  margin: 0 auto;
  /*width: 980px;*/

  min-height: 500px;
}
body div.container-fluid {
  max-width: 970px;
}
body div.header {
  height: 75px;
}
body div.header nav ul {
  margin-top: 20px;
  text-align: center;
}
body div.header nav ul li {
  display: inline;
}
body div.aboutYou label {
  font-size: 1.2em;
}
body div.meetingInformation div.labels {
  font-size: 1.3em;
}
body div.meetingInformation div.labels label {
  margin: 0px;
  display: block;
  height: 35px;
  text-align: right;
}
body div.meetingInformation div.labels label.inputCalendar {
  height: 150px;
}
body div.meetingInformation div.labels label.dateTime {
  height: 150px;
}
body div.meetingInformation div.inputs input,
body div.meetingInformation div.inputs a,
body div.meetingInformation div.inputs select {
  font-size: 1.3em;
  display: block;
  height: 35px;
}
body div.meetingInformation div.inputs div.dateTime {
  min-height: 150px;
}
body div.meetingInformation div.inputs div.dateTime select {
  width: 100%;
}
body div.meetingInformation div.inputs div.dateTime ul {
  list-style-type: none;
}
body div.meetingInformation div.inputs div.dateTime ul li label {
  width: 100%;
  font-size: 1.7em;
}
body div.meetingInformation div.inputs div.dateTime ul li label input {
  display: inline-block;
}
body div.meetingInformation div.inputs div.dateTime span {
  height: 35px;
}
body div.meetingInformation div.actions {
  margin-top: 15px;
  text-align: center;
}
body div.meetingInformation div.actions button {
  width: 250px;
  margin: 10px auto;
  margin-left: 10px;
  margin-right: 10px;
}
